.headerLogo {
  position: absolute;
  left: 120px;
  top: 120px;
  z-index: 2;
}

@media screen and (max-width: 1920px) {
  .headerLogo {
    left: 80px;
    top: 80px;
  }
}

@media screen and (max-width: 1660px) {
  .headerLogo {
    left: 40px;
    top: 40px;
  }
}

@media screen and (max-width: 1060px) {
  .headerLogo {
    width: 85px;
    height: 24px;
    left: 20px;
    top: 20px;
  }
}
