@import "src/assets/styles/colors";

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  background-image: url("/public/images/bgSquares.svg");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  //transform: scale();
  will-change: transform;
}
