@import "src/assets/styles/colors";

.advantages__container {
  height: 352px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  width: 100%;
  height: 352px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  transform: scaleX(0);
  background-color: $bg-card2;
  &--show {
    animation: showBlock 1s forwards;
    transform-origin: left;
  }
  &__left-part {
    opacity: 0;
    padding-left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--show {
      animation: showText 2s forwards;
    }
  }
  &__right-part {
    position: relative;
    &--blur {
      position: absolute;
      width: 288px;
      height: 324px;
      right: 6px;
      top: -22px;
      background: linear-gradient(208.12deg, #013837 13.01%, #54f68b 90.55%);
      filter: blur(196.453px);
      z-index: -1;
    }
  }
  &__heading {
    font-family: "PF Beau Sans Pro Regular", serif;
    font-weight: 600;
    font-size: 37px;
    line-height: 44.4px;
    margin-bottom: 40px;
    color: $white;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 23px;
    list-style-type: none;
    padding: 0;
  }
  &__item {
    &-title-block {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    &-title {
      font-family: "PF Beau Sans Pro Regular", serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 13px;
      margin-left: 10.5px;
      color: $white;
    }
    &-title-icon {
      height: 18px;
    }
    &-text {
      font-family: "Nunito", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $white;
    }
  }
}

.green {
  position: relative;
  width: 219.9px;
  height: 247.39px;
  right: -40vw;
  top: -35vh;
  background: linear-gradient(208.12deg, #013837 13.01%, #54f68b 90.55%);
  filter: blur(150.001px);
  z-index: -1;
 
}

@keyframes showText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showBlock {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@media screen and (max-width: 1366px) {
  .advantages__container {
    height: 329px;
  }
  .advantages {
    max-width: 824px;
    height: 329px;
    border-radius: 15px;
    &__left-part {
      padding-left: 48px;
    }
    &__right-part {
      &--blur {
        width: 219.9px;
        height: 247.39px;
        right: 174px;
        top: -27px;
        background: linear-gradient(208.12deg, #013837 13.01%, #54f68b 90.55%);
        filter: blur(150.001px);
      }
    }
    &__heading {
      font-size: 29px;
      line-height: 34.8px;
      margin-bottom: 25px;
    }
    &__list {
      gap: 18px;
    }
    &__item {
      &-title-block {
        margin-bottom: 6px;
      }
      &-title {
        font-size: 16px;
        line-height: 11px;
        margin-left: 12px;
      }
      &-title-icon {
        height: 15px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .advantages__container {
    height: 277px;
  }
  
  .advantages {
    max-width: 700px;
    height: 277px;
    border-radius: 13px;
    &__left-part {
      padding-left: 40px;
    }
    &__right-part {
      &--blur {
        width: 192px;
        height: 216px;
        right: 4px;
        top: -65px;
        background: linear-gradient(208.12deg, #013837 13.01%, #54f68b 90.55%);
        filter: blur(130.969px);
      }
    }
    &__heading {
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    &__list {
      gap: 15px;
    }
    &__item {
      &-title-block {
        margin-bottom: 5px;
      }
      &-title {
        font-size: 14px;
        line-height: 10px;
        margin-left: 7.3px;
      }
      &-title-icon {
        height: 14px;
      }
      &-text {
        font-size: 12px;
        line-height: 16.3px;
      }
    }
    &__image {
      width: 277px;
      height: 277px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .advantages__container {
    height: 329px;
  }
  .advantages {
    max-width: 824px;
    height: 329px;
    border-radius: 13px;
    &__left-part {
      padding-left: 48px;
    }
    &__right-part {
      &--blur {
        width: 219.9px;
        height: 247.39px;
        right: 4px;
        top: -27px;
        background: linear-gradient(208.12deg, #013837 13.01%, #54f68b 90.55%);
        filter: blur(150.001px);
      }
    }
    &__heading {
      font-size: 29px;
      line-height: 34.8px;
      margin-bottom: 25px;
    }
    &__list {
      gap: 18px;
    }
    &__item {
      &-title-block {
        margin-bottom: 6px;
      }
      &-title {
        font-size: 16px;
        line-height: 11px;
        margin-left: 12px;
      }
      &-title-icon {
        height: 15px;
      }
    }
    &__image {
      width: 326px;
      height: 326px;
    }
  }
}

@media screen and (max-width: 932px) {
  .advantages__container {
    height: 288px;
  }
  .advantages {
    max-width: 730px;
    height: 288px;
    &__left-part {
      padding-left: 42px;
    }
    &__right-part {
      &--blur {
        background: none;
      }
    }
    &__heading {
      font-size: 26px;
      line-height: 31px;
      margin-bottom: 22px;
    }
    &__list {
      gap: 16px;
    }
    &__item {
      &-title {
        font-size: 14px;
        line-height: 10px;
        margin-left: 8px;
      }
      &-text {
        font-size: 12px;
        line-height: 16px;
      }
    }
    &__image {
      width: 288px;
      height: 288px;
    }
  }
}

@media screen and (max-width: 730px) {
  .advantages {
    flex-direction: column-reverse;
    max-width: 330px;
    height: auto;
    border-radius: 10px;
    &__left-part {
      padding: 15px 20px;
    }
    &__right-part {
      &--blur {
        width: 92.34px;
        height: 103.88px;
        right: 1px;
        top: -96px;
        background: linear-gradient(208.12deg, #013837 13.01%, #54f68b 90.55%);
        filter: blur(62.9887px);
      }
    }
    &__heading {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 15px;
    }
    &__list {
      gap: 15px;
    }
    &__item {
      &-title-block {
        margin-bottom: 5px;
      }
      &-title {
        margin-left: 5.5px;
      }
      &-title-icon {
        height: 13px;
      }
    }
    &__image {
      width: 329px;
      height: 85px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
}
