@import "src/assets/styles/colors";

.description {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 100px;
  max-width: 1087px;
  &__text {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: $primary;
    text-align: justify;
    line-height: 21px;
    &-block {
      max-width: 463px;
      margin: 34px 0 32px;
    }
    & span {
      font-weight: 700;
    }
    &--small {
      font-family: "Nunito", sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 14px;
      color: $primary;
      margin: 37px 0;
    }
  }
  &__button {
    display: inline-block;
    margin-right: auto;
    font-family: "PF Beau Sans Pro Regular", serif;
    font-size: 16px;
    line-height: 11px;
    font-weight: 600;
    color: $accent;
    padding: 16px 26px;
    background-color: $secondary;
    border-radius: 100px;
    text-decoration: none;
  }
  &__image {
    opacity: 0;
    &--show {
      animation: showImage 1s forwards;
    }
  }
}

@keyframes showImage {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.numbers {
  &__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
    margin-bottom: 62px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(50% - 10px);
    gap: 5px;
    &-title {
      font-family: "Nunito", sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: #f5f5f5;
    }
    &-text {
      font-family: "PF Beau Sans Pro Regular", serif;
      font-weight: 700;
      font-size: 30px;
      color: $white;
      &--small {
        font-family: "Nunito", sans-serif;
        font-size: 15px;
        vertical-align: middle;
      }
    }
  }
}

.green-text {
  color: $secondary;
}

@media screen and (max-width: 1366px) {
  .description {
    gap: 53px;
    max-width: 824px;
    margin-bottom: 175px;
    &__text {
      font-size: 15px;
      line-height: 15px;
      &-block {
        max-width: 360px;
        margin: 19px 0 24px;
      }
      &--small {
        font-size: 12px;
        margin: 26px 0;
      }
    }
    &__button {
      font-size: 12px;
      padding: 12px 21px;
      line-height: 8px;
    }
  }

  .numbers {
    &__block {
      row-gap: 12px;
      margin-bottom: 41px;
    }
    &__item {
      gap: 4px;
      &-title {
        font-size: 12px;
      }
      &-text {
        font-size: 23px;
        &--small {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .description {
    gap: 64px;
    max-width: 720px;
    &__text {
      font-size: 12px;
      line-height: 14px;
      &-block {
        max-width: 309px;
        margin: 20px 0 21px;
      }
      &--small {
        font-size: 10px;
        line-height: 13px;
      }
    }
    &__button {
      font-size: 10px;
      padding: 10px 19px;
      line-height: 7px;
    }
  }

  .numbers {
    &__block {
      row-gap: 8px;
      margin-bottom: 39px;
    }
    &__item {
      &-title {
        line-height: 13px;
      }
      &-text {
        font-size: 20px;
        &--small {
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .description {
    gap: 50px;
    max-width: 824px;
    margin-bottom: 175px;
    &__text {
      font-size: 15px;
      line-height: 15px;
      &-block {
        max-width: 360px;
        margin: 33px 0;
      }
      &--small {
        font-size: 12px;
        margin: 26px 0;
      }
    }
    &__button {
      font-size: 12px;
      padding: 12px 20px;
      line-height: 8px;
    }
  }

  .numbers {
    &__block {
      row-gap: 12px;
      margin-bottom: 41px;
    }
    &__item {
      gap: 4px;
      &-title {
        font-size: 12px;
      }
      &-text {
        font-size: 23px;
        &--small {
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 932px) {
  .description {
    gap: 64px;
    max-width: 732px;
    &__text {
      font-size: 12px;
      line-height: 14px;
      &-block {
        max-width: 314px;
        margin: 20px 0 24px;
      }
      &--small {
        font-size: 10px;
      }
    }
    &__button {
      font-size: 12px;
      padding: 10px 14px;
    }
  }

  .numbers {
    &__block {
      row-gap: 8px;
      margin-bottom: 39px;
    }
    &__item {
      &-text {
        font-size: 20px;
        &--small {
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .description {
    flex-direction: column-reverse;
    max-width: 329px;
    gap: 25px;
    margin-bottom: 100px;
    &__text {
      font-size: 14px;
      line-height: 14px;
      &-block {
        max-width: 329px;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      &--small {
        font-size: 10px;
        margin: 20px 0;
      }
    }
    &__button {
      font-size: 12px;
      padding: 9px 14px;
      line-height: 8px;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .numbers {
    &__block {
      row-gap: 10px;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(2, auto);
      justify-content: space-between;
    }
    &__item {
      gap: 3px;
      &-title {
        font-size: 12px;
      }
      &-text {
        font-size: 16px;
        &--small {
          font-size: 10px;
        }
      }
    }
  }
}
