@import "../../assets/styles/colors";

.textarea {
  opacity: 0;
  font-family: "PF Beau Sans Pro Regular", serif;
  width: 100%;
  padding: 11px 15px;
  border: 1px solid $secondary;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  transition: 0.5s ease;
  box-sizing: border-box;
  color: #fff;
  resize: none;
  height: 108px;
  &--show {
    animation: showTextArea 0.4s forwards;
    animation-delay: 1s;
  }

  &::placeholder {
    font-family: "PF Beau Sans Pro Regular", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: $white;
    opacity: 0.6;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &:focus {
    border: 0.79px solid $secondary;
  }

  &__error {
    border: 0.79px solid $error;

    &:focus {
      border: 0.79px solid $error;
    }
  }

  &__message {
    display: none;

    &-error {
      margin-top: 5px;
      display: block;
      color: $error;
      font-size: 12px;
      line-height: 12px;
    }
  }
}

@keyframes showTextArea {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1366px) {
  .textarea {
    padding: 8px 14px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    height: 72px;

    &::placeholder {
      font-size: 12px;
      line-height: 14px;
    }

    &__message {
      &-error {
        margin-top: 5px;
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .textarea {
    padding: 8px 14px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 12px;

    &::placeholder {
      font-size: 10px;
      line-height: 12px;
    }

    &__message {
      &-error {
        margin-top: 5px;
        font-size: 8px;
        line-height: 8px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .textarea {
    padding: 8px 14px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    height: 72px;

    &::placeholder {
      font-size: 12px;
      line-height: 14px;
    }

    &__message {
      &-error {
        margin-top: 5px;
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
}

@media (max-width: 932px) {
  .textarea {
    padding: 8px 11px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    height: 75px;

    &::placeholder {
      font-size: 12px;
      line-height: 14px;
    }

    &__message {
      &-error {
        margin-top: 5px;
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
}
