@import "src/assets/styles/colors";

.faq {
  display: flex;
  flex-direction: column;
  margin: 225px auto;
  max-width: 1100px;
  position: relative;
  &__heading {
    font-family: "PF Beau Sans Pro Regular", serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 47px;
    & span {
      color: $secondary;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__button {
    display: inline-block;
    font-family: "PF Beau Sans Pro Regular", serif;
    font-weight: 600;
    margin-top: 40px;
    margin-left: auto;
    font-size: 15px;
    line-height: 11px;
    padding: 14px 30px;
    text-decoration: none;
    color: $accent;
    background-color: $secondary;
    border-radius: 20px;
  }
  &__feathers {
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

@media screen and (max-width: 1366px) {
  .faq {
    margin: 175px auto;
    max-width: 825px;
    &__heading {
      font-size: 37px;
      line-height: 44px;
      margin-bottom: 36px;
    }
    &__list {
      gap: 17px;
    }
    &__button {
      margin-top: 17px;
      font-size: 12px;
      line-height: 8px;
      padding: 10px 19px;
    }
  }
}

@media screen and (max-width: 1280px) {
  .faq {
    max-width: 738px;
    &__heading {
      font-size: 33px;
      line-height: 40px;
      margin-bottom: 31px;
    }
    &__list {
      gap: 15px;
    }
    &__button {
      margin-top: 15px;
      font-size: 10px;
      line-height: 7px;
      padding: 10px 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .faq {
    max-width: 825px;
    &__heading {
      font-size: 37px;
      line-height: 44px;
      margin-bottom: 36px;
    }
    &__list {
      gap: 17px;
    }
    &__button {
      margin-top: 17px;
      font-size: 12px;
      line-height: 8px;
      padding: 10px 19px;
    }
  }
}

@media screen and (max-width: 932px) {
  .faq {
    margin: 100px auto;
    max-width: 730px;
    &__heading {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 29px;
    }
    &__list {
      gap: 29px;
    }
    &__button {
      margin-top: 29px;
      margin-right: auto;
      font-size: 12px;
      line-height: 8px;
      padding: 10px 15px;
    }
  }
}

@media screen and (max-width: 730px) {
  .faq {
    max-width: 329px;
    &__heading {
      font-size: 18px;
    }
  }
}
